# Entorno virtual
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
data/*.db

# Audios
audio_in/

# Reportes generados
reports/
analysis/
transcripts/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/